[submodule "Kha"]
	path = Kha
	url = https://github.com/Kode/Kha.git
	branch = master
[submodule "Libraries/openfl"]
	path = Libraries/openfl
	url = https://github.com/Kode/openfl.git
	branch = master
[submodule "Libraries/lime"]
	path = Libraries/lime
	url = https://github.com/Kode/lime.git
	branch = master
[submodule "Libraries/format"]
	path = Libraries/format
	url = https://github.com/HaxeFoundation/format.git
	branch = master
